.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
.idea/sonarlint/issuestore/2/8/286946ad2a08880770a6ba47e2005c0b01bd4412
.idea/sonarlint/issuestore/2/8/286946ad2a08880770a6ba47e2005c0b01bd4412
.idea/sonarlint/issuestore/2/8/286946ad2a08880770a6ba47e2005c0b01bd4412
core/build/tmp/compileJava/compileTransaction/stash-dir/ClientDomain.class.uniqueId1
*.uniqueId0
*.bin
infrastructure/build/tmp/compileJava/compileTransaction/stash-dir/PichinchaServiceConfiguration.class.uniqueId1
.idea/compiler.xml
.idea/compiler.xml
.idea/sonarlint/issuestore/0/e/0ecb05c03e915b538edcee8b4aed184ee4fb3826
.idea/sonarlint/issuestore/4/4/44be14011429cf755103f8dacdd74ab015eb2f69
.idea/sonarlint/issuestore/9/2/928ab49848d31f0d721253abd1a61755f0df0c86
.idea/sonarlint/issuestore/d/0/d08ad7275ca05d13cb570f6f624eee8075619a60
.idea/sonarlint/issuestore/f/0/f07866736216be0ee2aba49e392191aeae700a35
